In [2]:
!{"ls resultados/ -Rl"}

resultados/:
total 16
drwxrwxrwx 2 juan juan 4096 Jul  4 12:14 alfa
drwxrwxrwx 2 juan juan 4096 Jul  2 18:53 beta
drwxrwxrwx 2 juan juan 4096 Jul  2 22:08 gamma
drwxrwxrwx 2 juan juan 4096 Jul  2 18:53 meta-nodos

resultados/alfa:
total 40
-rwxrwxrwx 1 juan juan 3 Jul  1 14:57 parejas--import_datos_registros.csv--(0-100000)x(600000-1200000)
-rwxrwxrwx 1 juan juan 3 Jul  1 14:57 parejas--import_datos_registros.csv--(100000-200000)x(600000-1200000)
-rwxrwxrwx 1 juan juan 3 Jul  1 14:57 parejas--import_datos_registros.csv--(200000-300000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  4 12:12 parejas--import_datos_registros.csv--(300000-350000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  4 12:12 parejas--import_datos_registros.csv--(350000-400000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  3 22:34 parejas--import_datos_registros.csv--(400000-425000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  3 22:34 parejas--import_datos_registros.csv--(425000-450000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  3 22:34 parejas--import_datos_registros.csv--(450000-475000)x(600000-1200000)
-rw-r--r-- 1 juan juan 3 Jul  3 22:34 parejas--import_datos_registros.csv--(475000-500000)x(600000-1200000)
-rwxrwxrwx 1 juan juan 3 Jul  1 14:57 parejas--import_datos_registros.csv--(500000-600000)x(600000-1200000)

resultados/beta:
total 4
-rwxrwxrwx 1 juan juan 3 Jul  1 14:57 parejas--import_datos_registros.csv(600000-1200000)x(1200000-1700555)

resultados/gamma:
total 8812
-rwxrwxrwx 1 juan juan 1788980 Jul  1 14:57 parejas--import_datos_registros.csv--(0-100000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan 1905758 Jul  1 14:57 parejas--import_datos_registros.csv--(100000-200000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan 1970377 Jul  1 14:57 parejas--import_datos_registros.csv--(200000-300000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan 1940490 Jul  1 14:57 parejas--import_datos_registros.csv--(300000-400000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan 1400149 Jul  1 14:57 parejas--import_datos_registros.csv--(400000-500000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan       3 Jul  1 14:57 parejas--import_datos_registros.csv--(480000-540000)x(1200000-1700555)
-rwxrwxrwx 1 juan juan       3 Jul  1 14:57 parejas--import_datos_registros.csv--(540000-600000)x(1200000-1700555)

resultados/meta-nodos:
total 7576
-rwxrwxrwx 1 juan juan 2011047 Jul  1 14:57 parejas--import_datos_registros.csv--(0-600000)x(0-600000)
-rwxrwxrwx 1 juan juan 5742121 Jul  1 14:57 parejas--import_datos_registros.csv--(1200000-1700555)x(1200000-1700555)
-rwxrwxrwx 1 juan juan       3 Jul  1 14:57 parejas--import_datos_registros.csv--(600000-1200000)x(600000-1200000)

In [3]:
parejas = set()

In [4]:
len(parejas)

0

In [5]:
with open("resultados/gamma/parejas--import_datos_registros.csv--(0-100000)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

100005

In [6]:
with open("resultados/gamma/parejas--import_datos_registros.csv--(100000-200000)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas| set(eval(cadena))
len(parejas)

200308

In [7]:
with open("resultados/gamma/parejas--import_datos_registros.csv--(200000-300000)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

304012

In [8]:
with open("resultados/gamma/parejas--import_datos_registros.csv--(300000-400000)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

406143

In [9]:
with open("resultados/gamma/parejas--import_datos_registros.csv--(400000-500000)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

479835

In [10]:
with open("resultados/meta-nodos/parejas--import_datos_registros.csv--(0-600000)x(0-600000)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

595279

In [11]:
with open("resultados/meta-nodos/parejas--import_datos_registros.csv--(1200000-1700555)x(1200000-1700555)", "r") as archivo:
    cadena = archivo.read()
parejas = parejas | set(eval(cadena))
len(parejas)

882385

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("import/datos/registros.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2,4,5,6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
import networkx as nx

In [15]:
G = nx.Graph()

In [16]:
G.add_nodes_from(list(range(df.shape[0])))

In [17]:
G.add_edges_from(parejas)

In [20]:
nx.node_connected_component(G, 10000)

{10000, 320937, 1492261}

In [28]:
df.iloc[list(nx.node_connected_component(G, 124969))]

,curp,primer_apellido,segundo_apellido,nombres,fecha_de_nacimiento,pais_asociado,genero,cvu,orcid,rn,dni,pais_de_nacimiento,afiliacion,origen
124969,RAOJ911027HDFMRN09,RAMIREZ,ORTA,JUAN ANTONIO,27/10/1991,MEX,Masculino,NaN,NaN,NaN,NaN,NaN,NaN,dape
416441,RAOJ911027HDFMRN09,RAMIREZ,ORTA,JUAN ANTONIO,27/10/1991,NaN,Masculino,590058,NaN,NaN,NaN,MEX,NaN,cvu
1453422,RAOJ911027HDFMRN09,RAMIREZ,ORTA,JUAN ANTONIO,NaN,NaN,NaN,590058,NaN,NaN,NaN,NaN,NaN,rn

In [29]:
df.loc[(df["nombres"] == "JUAN ANTONIO" )& (df["primer_apellido"] == "ORTA")]

Empty DataFrame
Columns: [curp, primer_apellido, segundo_apellido, nombres, fecha_de_nacimiento, pais_asociado, genero, cvu, orcid, rn, dni, pais_de_nacimiento, afiliacion, origen]
Index: []