In [1]:
with open("personas.txt", "r") as archivo:
    cadena = archivo.read()

In [2]:
lista = eval(cadena)

In [3]:
personas = list(enumerate(lista))

In [4]:
len(personas)

1219452

In [5]:
per = personas[0:10]
per

[(0, [0, 461921, 1479778]),
 (1, [1, 1479779, 430533]),
 (2, [2, 364570, 1479780, 1314523]),
 (3, [204152, 3, 1479781]),
 (4, [300476, 4, 1479782]),
 (5, [1479784, 286859, 5]),
 (6, [6, 1479788, 1479790, 1290991, 266992]),
 (7, [266906, 1479789, 7]),
 (8, [8, 279765, 1479791]),
 (9, [1479792, 9, 203201])]

In [6]:
import pandas as pd

In [7]:
base = pd.read_csv("import/datos/registros.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2,4,5,6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df = base.values

In [9]:
df[[0, 10]]

array([['MOAG401212HJCRLD07', 'MORENO', 'DE ALBA', 'JOSE GUADALUPE',
        '12/12/1940', 'MEX', 'Masculino', nan, nan, nan, nan, nan, nan,
        'dape'],
       ['MOLL500825HSPRPS09', 'MORAN', 'LOPEZ', 'JOSE LUIS',
        '25/08/1950', 'MEX', 'Masculino', nan, nan, nan, nan, nan, nan,
        'dape']], dtype=object)

In [10]:
columnas_registro_principal = ["identificador_CA", 
                                "nombre_completo",
                                "primer_apellido_completo", 
                                "segundo_apellido_completo", 
                                "nombre_preferido", 
                                "primer_apellido_preferido", 
                                "segundo_apellido_preferido", 
                                "lugar_de_nacimiento",
                                "institucion",
                                "afiliacion",
                                "genero", 
                                "fecha_de_nacimiento",
                                "estado_de_identificacion"]
registro_principal = pd.DataFrame(columns = columnas_registro_principal)
registro_principal

Empty DataFrame
Columns: [identificador_CA, nombre_completo, primer_apellido_completo, segundo_apellido_completo, nombre_preferido, primer_apellido_preferido, segundo_apellido_preferido, lugar_de_nacimiento, institucion, afiliacion, genero, fecha_de_nacimiento, estado_de_identificacion]
Index: []

In [11]:
columnas_variantes_de_nombres = ["identificador_CA", 
                                               "nombres", 
                                               "primer_apellido", 
                                               "segundo_apellido"]
variantes_de_nombres = pd.DataFrame(columns = columnas_variantes_de_nombres)
variantes_de_nombres

Empty DataFrame
Columns: [identificador_CA, nombres, primer_apellido, segundo_apellido]
Index: []

In [12]:
columnas_identificadores = ["identificador_CA", "tipo", "valor"]
identificadores = pd.DataFrame(columns = columnas_identificadores)
identificadores

Empty DataFrame
Columns: [identificador_CA, tipo, valor]
Index: []

In [13]:
def extraer_dato(persona, columna, lista_de_prioridades):
    dato = ""
    mini_base = persona[:,[13, columna]]
    for renglon in mini_base:
        if renglon[0] == lista_de_prioridades[0]:
            if str(renglon[1]) != "nan":
                dato = renglon[1]
                return dato
    for renglon in mini_base:
        if renglon[0] == lista_de_prioridades[1]:
            if str(renglon[1]) != "nan":
                dato = renglon[1]
                return dato
    for renglon in mini_base:
        if renglon[0] == lista_de_prioridades[2]:
            if str(renglon[1]) != "nan":
                dato = renglon[1]
                return dato
    return dato

In [14]:
list(enumerate(base))

[(0, 'curp'),
 (1, 'primer_apellido'),
 (2, 'segundo_apellido'),
 (3, 'nombres'),
 (4, 'fecha_de_nacimiento'),
 (5, 'pais_asociado'),
 (6, 'genero'),
 (7, 'cvu'),
 (8, 'orcid'),
 (9, 'rn'),
 (10, 'dni'),
 (11, 'pais_de_nacimiento'),
 (12, 'afiliacion'),
 (13, 'origen')]

In [15]:
list(enumerate(columnas_registro_principal))

[(0, 'identificador_CA'),
 (1, 'nombre_completo'),
 (2, 'primer_apellido_completo'),
 (3, 'segundo_apellido_completo'),
 (4, 'nombre_preferido'),
 (5, 'primer_apellido_preferido'),
 (6, 'segundo_apellido_preferido'),
 (7, 'lugar_de_nacimiento'),
 (8, 'institucion'),
 (9, 'afiliacion'),
 (10, 'genero'),
 (11, 'fecha_de_nacimiento'),
 (12, 'estado_de_identificacion')]

In [16]:
def enviar_a_registro_principal(tupla):
    persona = df[[tupla[1]]]
    
    indicador_CA = tupla[0]
    nombre_completo = extraer_dato(persona, 3, ["cvu", "rn", "dape"])
    primer_apellido_completo = extraer_dato(persona, 1, ["cvu", "rn", "dape"])
    segundo_apellido_completo = extraer_dato(persona, 2, ["cvu", "rn", "dape"])
    nombre_preferido = extraer_dato(persona, 3, ["rn", "dape", "cvu"])
    primer_apellido_preferido = extraer_dato(persona, 1, ["rn", "dape", "cvu"])
    segundo_apellido_preferido = extraer_dato(persona, 2, ["rn", "dape", "cvu"])
    lugar_de_nacimiento = extraer_dato(persona, 11, ["cvu", "dape", ""])
    institucion = extraer_dato(persona, 12, ["rn", "", ""])
    if institucion != "":
        afiliacion = "Actual"
    else:
        afiliacion = ""
    genero = extraer_dato(persona, 6, ["cvu", "", ""])
    fecha_de_nacimiento = extraer_dato(persona, 4, ["cvu", "dape", ""])
    if len(persona) == 1:
        estado_de_identificacion = "preliminar"
    else:
        estado_de_identificacion = "preliminar fusionado"
    
    datos =[indicador_CA, 
            nombre_completo, 
            primer_apellido_completo, 
            segundo_apellido_completo, 
            nombre_preferido, 
            primer_apellido_preferido,
            segundo_apellido_preferido,
            lugar_de_nacimiento, 
            institucion,
            afiliacion,
            genero,
            fecha_de_nacimiento,
            estado_de_identificacion]
    return datos

In [17]:
import multiprocessing as mp

In [18]:
p = mp.Pool()

In [26]:
pd.DataFrame(p.map(func = enviar_a_registro_principal, iterable = iter(per)), columns = columnas_registro_principal)

,identificador_CA,nombre_completo,primer_apellido_completo,segundo_apellido_completo,nombre_preferido,primer_apellido_preferido,segundo_apellido_preferido,lugar_de_nacimiento,institucion,afiliacion,genero,fecha_de_nacimiento,estado_de_identificacion
0,0,JOSE GUADALUPE,MORENO,DE ALBA,JOSE GUADALUPE,MORENO,DE ALBA,MEX,,,Masculino,12/12/1940,preliminar fusionado
1,1,JOSE,PASCUAL,BUXO,JOSE,PASCUAL,BUXO,ESP,,,Masculino,12/02/1931,preliminar fusionado
2,2,SURENDRA PAL,VERMA,JAISWAL,SURENDRA PAL,VERMA,JAISWAL,IND,,,Masculino,15/07/1945,preliminar fusionado
3,3,JORGE,ALONSO,SANCHEZ,JORGE,ALONSO,SANCHEZ,MEX,,,Masculino,20/01/1943,preliminar fusionado
4,4,ELENA,AZAOLA,GARRIDO,ELENA,AZAOLA,GARRIDO,MEX,,,Femenino,10/11/1951,preliminar fusionado
5,5,FIDEL ALBERTO,RAMON,Y ROMERO,FIDEL ALBERTO,RAMON,Y ROMERO,,,,Masculino,02/02/1938,preliminar fusionado
6,6,GRACIELA,CALDERON,DIAZ BARRIGA,GRACIELA,CALDERON,DIAZ BARRIGA,MEX,,,Femenino,14/07/1931,preliminar fusionado
7,7,JERZY,RZEDOWSKI,ROTTER,JERZY,RZEDOWSKI,ROTTER,MEX,,,Masculino,27/12/1926,preliminar fusionado
8,8,MIGUEL ANGEL,PEREZ,ANGON,MIGUEL ANGEL,PEREZ,ANGON,MEX,,,Masculino,05/03/1948,preliminar fusionado
9,9,MAGDALENO,MEDINA,NOYOLA,MAGDALENO,MEDINA,NOYOLA,MEX,,,Masculino,06/03/1951,preliminar fusionado