In [1]:
import pandas as pd
import multiprocessing as mp

In [2]:
with open("personas.txt", "r") as archivo:
    cadena = archivo.read()
lista = eval(cadena)
personas = list(enumerate(lista))

In [3]:
base = pd.read_csv("import/datos/registros.csv")
df = base.values

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2,4,5,6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
columnas_variantes_de_nombres = ["identificador_CA", 
                                               "nombres", 
                                               "primer_apellido", 
                                               "segundo_apellido"]

In [5]:
def enviar_a_variantes_de_nombres(tupla):
    persona = df[tupla[1]]
    
    identificador_CA = tupla[0]
    nombres = persona[:,[3,1,2,13]]
    return [[identificador_CA] + list(renglon) for renglon in nombres]

In [6]:
# tupla = per[3]
# persona = df[tupla[1]]
    
# identificador_CA = tupla[0]
# nombres = persona[:,[3,1,2]]
# [[identificador_CA] + list(renglon) for renglon in nombres]

In [7]:
per = personas[0:10]
final = []
p = mp.Pool()
for i in list(p.map(enviar_a_variantes_de_nombres, per)):
    final += i
final

[[0, 'JOSE GUADALUPE', 'MORENO', 'DE ALBA', 'dape'],
 [0, 'JOSE GUADALUPE', 'MORENO', 'DE ALBA', 'cvu'],
 [0, 'JOSE GUADALUPE', 'MORENO', 'DE ALBA', 'rn'],
 [1, 'JOSE', 'PASCUAL', 'BUXO', 'dape'],
 [1, 'JOSE', 'PASCUAL', 'BUXO', 'rn'],
 [1, 'JOSE', 'PASCUAL', 'BUXO', 'cvu'],
 [2, 'SURENDRA PAL', 'VERMA', 'JAISWAL', 'dape'],
 [2, 'SURENDRA PAL', 'VERMA', 'JAISWAL', 'cvu'],
 [2, 'SURENDRA PAL', 'VERMA', 'JAISWAL', 'rn'],
 [2, 'SURENDRA PAL', 'VERMA', 'JAISWAL', 'rn'],
 [3, 'JORGE', 'ALONSO', 'SANCHEZ', 'cvu'],
 [3, 'JORGE', 'ALONSO', 'SANCHEZ', 'dape'],
 [3, 'JORGE', 'ALONSO', 'SANCHEZ', 'rn'],
 [4, 'ELENA', 'AZAOLA', 'GARRIDO', 'cvu'],
 [4, 'ELENA', 'AZAOLA', 'GARRIDO', 'dape'],
 [4, 'ELENA', 'AZAOLA', 'GARRIDO', 'rn'],
 [5, 'FIDEL ALBERTO', 'RAMON', 'Y ROMERO', 'rn'],
 [5, 'FIDEL ALBERTO', 'RAMON', 'Y ROMERO', 'cvu'],
 [5, 'FIDEL ALBERTO', 'RAMON', 'Y ROMERO', 'dape'],
 [6, 'GRACIELA', 'CALDERON', 'DIAZ BARRIGA', 'dape'],
 [6, 'GRACIELA', 'CALDERON', 'DIAZ BARRIGA', 'rn'],
 [6, 'GRACIELA', 'CALDERON', 'DIAZ BARRIGA', 'rn'],
 [6, 'GRACIELA', 'CALDERON', 'DIAZ BARRIGA', 'rn'],
 [6, 'GRACIELA', 'CALDERON', 'DIAZ BARRIGA', 'cvu'],
 [7, 'JERZY', 'RZEDOWSKI', 'ROTTER', 'cvu'],
 [7, 'JERZY', 'RZEDOWSKI', 'ROTTER', 'rn'],
 [7, 'JERZY', 'RZEDOWSKI', 'ROTTER', 'dape'],
 [8, 'MIGUEL ANGEL', 'PEREZ', 'ANGON', 'dape'],
 [8, 'MIGUEL ANGEL', 'PEREZ', 'ANGON', 'cvu'],
 [8, 'MIGUEL ANGEL', 'PEREZ', 'ANGON', 'rn'],
 [9, 'MAGDALENO', 'MEDINA', 'NOYOLA', 'rn'],
 [9, 'MAGDALENO', 'MEDINA', 'NOYOLA', 'dape'],
 [9, 'MAGDALENO', 'MEDINA', 'NOYOLA', 'cvu']]

In [8]:
variantes_de_nombres = pd.DataFrame(final, columns = ["identificador_CA", 
                                                      "variante_de_nombre", 
                                                      "variante_de_primer_apellido",
                                                      "variante_de_segundo_apellido",
                                                      "origen"])

In [9]:
variantes_de_nombres

,identificador_CA,variante_de_nombre,variante_de_primer_apellido,variante_de_segundo_apellido,origen
0,0,JOSE GUADALUPE,MORENO,DE ALBA,dape
1,0,JOSE GUADALUPE,MORENO,DE ALBA,cvu
2,0,JOSE GUADALUPE,MORENO,DE ALBA,rn
3,1,JOSE,PASCUAL,BUXO,dape
4,1,JOSE,PASCUAL,BUXO,rn
5,1,JOSE,PASCUAL,BUXO,cvu
6,2,SURENDRA PAL,VERMA,JAISWAL,dape
7,2,SURENDRA PAL,VERMA,JAISWAL,cvu
8,2,SURENDRA PAL,VERMA,JAISWAL,rn
9,2,SURENDRA PAL,VERMA,JAISWAL,rn
10,3,JORGE,ALONSO,SANCHEZ,cvu
11,3,JORGE,ALONSO,SANCHEZ,dape
12,3,JORGE,ALONSO,SANCHEZ,rn
13,4,ELENA,AZAOLA,GARRIDO,cvu
14,4,ELENA,AZAOLA,GARRIDO,dape
15,4,ELENA,AZAOLA,GARRIDO,rn
16,5,FIDEL ALBERTO,RAMON,Y ROMERO,rn
17,5,FIDEL ALBERTO,RAMON,Y ROMERO,cvu
18,5,FIDEL ALBERTO,RAMON,Y ROMERO,dape
19,6,GRACIELA,CALDERON,DIAZ BARRIGA,dape
20,6,GRACIELA,CALDERON,DIAZ BARRIGA,rn
21,6,GRACIELA,CALDERON,DIAZ BARRIGA,rn
22,6,GRACIELA,CALDERON,DIAZ BARRIGA,rn
23,6,GRACIELA,CALDERON,DIAZ BARRIGA,cvu
24,7,JERZY,RZEDOWSKI,ROTTER,cvu
25,7,JERZY,RZEDOWSKI,ROTTER,rn
26,7,JERZY,RZEDOWSKI,ROTTER,dape
27,8,MIGUEL ANGEL,PEREZ,ANGON,dape
28,8,MIGUEL ANGEL,PEREZ,ANGON,cvu
29,8,MIGUEL ANGEL,PEREZ,ANGON,rn
30,9,MAGDALENO,MEDINA,NOYOLA,rn
31,9,MAGDALENO,MEDINA,NOYOLA,dape
32,9,MAGDALENO,MEDINA,NOYOLA,cvu

In [10]:
variantes_de_nombres.to_csv("variantes_de_nombres.csv")