In [1]:
library("tidyverse")
library("stringr")

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

Nota: Parece ser que no funciona con este archivo la función guess_encoding. Después de mucho buscar, creo que la codificación es iso-8859-1.

In [2]:
dape  <- read_csv("../fuente/dape/DAPE.csv", locale = locale(encoding = "iso-8859-1")) %>% 
rename(curp = CURP,
               primer_apellido = APPAT, 
               segundo_apellido = APMAT, 
              nombres = NOMBRES, 
              sexo = SEXO, 
              fecha_de_nacimiento = FECNAC, 
              estado = EDO, 
              pais_asociado = PAIS) %>% 
select(-APPLID) %>% 
mutate(genero = str_replace_all(sexo, pattern = c("H$" = "Masculino", "M$" = "Femenino"))) %>% 
select(-sexo) %>% 
mutate(cvu = NA, 
       orcid = NA, 
       rn = NA, 
       dni = NA,
       pais_de_nacimiento = NA,
       afiliacion = NA,
      origen = "dape") %>% 
select(-estado)


head(dape)

Parsed with column specification:
cols(
  APPLID = col_integer(),
  CURP = col_character(),
  APPAT = col_character(),
  APMAT = col_character(),
  NOMBRES = col_character(),
  SEXO = col_character(),
  FECNAC = col_character(),
  EDO = col_character(),
  PAIS = col_character()
)

  curp               primer_apellido segundo_apellido nombres
1 MOAG401212HJCRLD07 MORENO          DE ALBA          JOSE GUADALUPE
2 PABJ310212HNESXS07 PASCUAL         BUXO             JOSE
3 VEJS450715HNERSR03 VERMA           JAISWAL          SURENDRA PAL
4 AOSJ430120HASLNR09 ALONSO          SANCHEZ          JORGE
5 AAGE511110MDFZRL06 AZAOLA          GARRIDO          ELENA
6 RARF380202HDFMMD03 RAMON           Y ROMERO         FIDEL ALBERTO
  fecha_de_nacimiento pais_asociado genero    cvu orcid rn dni
1 12/12/1940          MEX           Masculino NA  NA    NA NA
2 12/02/1931          MEX           Masculino NA  NA    NA NA
3 15/07/1945          MEX           Masculino NA  NA    NA NA
4 20/01/1943          MEX           Masculino NA  NA    NA NA
5 10/11/1951          MEX           Femenino  NA  NA    NA NA
6 02/02/1938          MEX           Masculino NA  NA    NA NA
  pais_de_nacimiento afiliacion origen
1 NA                 NA         dape
2 NA                 NA         dape
3 NA                 NA         dape
4 NA                 NA         dape
5 NA                 NA         dape
6 NA                 NA         dape

In [3]:
ncol(dape)

[1] 14

In [4]:
cat_genero <- read_csv("../fuente//cvu/PERSONA_FISICA/CAT_GENERO.csv")

head(cat_genero)

Parsed with column specification:
cols(
  ID_GENERO = col_integer(),
  CVE_GENERO = col_character(),
  DESC_GENERO = col_character(),
  USUARIO_ALTA = col_integer(),
  USUARIO_MODIFICACION = col_character(),
  FECHA_ALTA = col_character(),
  FECHA_MODIFICACION = col_character(),
  IND_ESTATUS = col_integer()
)

  ID_GENERO CVE_GENERO DESC_GENERO USUARIO_ALTA USUARIO_MODIFICACION
1 1         M          Masculino   1            NA
2 2         F          Femenino    1            NA
  FECHA_ALTA                  FECHA_MODIFICACION IND_ESTATUS
1 25/05/16 15:33:46.000000000 NA                 1
2 25/05/16 15:33:46.000000000 NA                 1

In [5]:
cat_pais <- read_csv("../fuente/cvu/PERSONA_FISICA/CAT_PAIS.csv")

head(cat_pais)

Parsed with column specification:
cols(
  ID_PAIS = col_integer(),
  CVE_PAIS = col_character(),
  DESC_PAIS = col_character(),
  USUARIO_ALTA = col_integer(),
  USUARIO_MODIFICACION = col_character(),
  FECHA_ALTA = col_character(),
  FECHA_MODIFICACION = col_character(),
  IND_ESTATUS = col_integer()
)

  ID_PAIS CVE_PAIS DESC_PAIS          USUARIO_ALTA USUARIO_MODIFICACION
1 119     KOR      Korea, Republic of 1            NA
2 120     KWT      Kuwait             1            NA
3 121     KGZ      Kyrgyzstan         1            NA
4 122     LAO      Lao PDR            1            NA
5 123     LVA      Latvia             1            NA
6 124     LBN      Lebanon            1            NA
  FECHA_ALTA                    FECHA_MODIFICACION IND_ESTATUS
1 25/05/2016 11:45:48.000000 AM NA                 1
2 25/05/2016 11:45:48.000000 AM NA                 1
3 25/05/2016 11:45:48.000000 AM NA                 1
4 25/05/2016 11:45:48.000000 AM NA                 1
5 25/05/2016 11:45:48.000000 AM NA                 1
6 25/05/2016 11:45:48.000000 AM NA                 1

In [7]:
write_csv(dape, "../datos/dape.csv")